ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  list-style-type: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
